*.ipynb
*.code-workspace

__pycache__/
*.pyc
.venv*/
.env

node_modules/
build/
dist/

*.keras
*.h5
*.onnx


!backend/backend/model/
!backend/backend/model/*.keras
!backend/backend/model/*.h5
!backend/backend/model/*.onnx


backend/backend/static/uploads/
backend/backend/static/gradcam/


requirements_train.txt
requirements_train.lock.txt

render.yaml
