.env
**/.env
**/node_modules/
.pnp.js
**/coverage/
**/build/
**/dist/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.code-workspace
.vscode/
logs/
*.keras
!backend/backend/model/best_ra_finetune_export.keras
